.page > #quartz-body .right.sidebar.custom-right-sidebar {
    position: initial !important;
    width: initial !important;
    flex-direction: column !important; /* Adjust as needed */
    margin-top: 2rem !important;
    padding: 0 !important;
  }
  
